-# TODO: turn this into a form_for (with working email), maybe use formtastic
%section#orders.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header.wow.fadeInUp
          %h2.module-title Order some meat!
          %h3.module-subtitle Isn't it time?
    .row
      .col-sm-8.col-sm-offset-2
        = render 'shared/success'
        = render 'shared/errors', object: @order
        = form_for @order, url: create_order_path(anchor: 'orders'), html: { id: 'booking-form', role: 'form' } do |f|
          .row
            .col-sm-6.form-group
              = f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
              %p.help-block.text-danger
            .col-sm-6.form-group
              = f.phone_field :phone, class: 'form-control', placeholder: 'Phone', required: true
              %p.help-block.text-danger
          .row
            .col-sm-6.form-group
              = f.email_field :email, class: 'form-control', placeholder: 'Email', required: true
              %p.help-block
            .col-sm-6.form-group
              = f.text_field :how_much, class: 'form-control', placeholder: 'How much?', required: true
              %p.help-block.text-danger
          .row
            .col-sm-12.form-group
              = f.text_area :body, class: 'form-control', placeholder: 'Special Requests', required: true, rows: '4'
              %p.help-block.text-danger
          .row
            .col-sm-12.text-center
              = f.submit 'Submit', class: 'btn btn-custom-1'
    .row
      .col-sm-6.col-sm-offset-3
        .devider
          = image_tag 'tucker_farm_icon'
