%section#tff-contact.callout
  .container
    .row
      .col-sm-2.col-sm-offset-5.text-center.long-down
        = image_tag 'tucker_farm_divider_top'
    .row
      .col-sm-10.col-sm-offset-1
        %h2.callout-text Contact

= render 'shared/flash'

%section.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        .module-header
          %h1.module-title Contact us
          %h2.module-subtitle Drop us a line
    .row
      .col-md-6.col-sm-offset-3
        = form_for @contact, url: create_contact_path, method: 'POST' do |f|
          .row
            .col-sm-12.form-group
              = f.select :to,  @contact.to_options, { include_blank: 'Select your recipient' }, { class: 'dropdown form-control', required: true }
          .row
            .col-sm-6.form-group
              %label.sr-only{for: 'name'} Name
              = f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
              %p.help-block.text-danger
            .col-sm-6.form-group
              %label.sr-only{:for => "bphone"} Email
              = f.email_field :email, class: 'form-control', placeholder: 'Email', required: true
              %p.help-block.text-danger
          .row
            .col-sm-12.form-group
              = f.text_area :body, class: 'form-control', rows: 4, placeholder: 'Message', required: true
              %p.help-block.text-danger
          .row
            .col-sm-12.text-center
              = f.submit 'Submit', class: 'btn btn-custom-1'
