!!!
%html
  %head
    %title Tucker Family Farm
    = csrf_meta_tags
    = action_cable_meta_tag
    = favicon_link_tag 'tucker_farm_favicon.png'
    = favicon_link_tag 'tucker_farm_apple_icon.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    '//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.min.css'
    = javascript_include_tag 'application'

  %body
    #preloader
      #status
        .status-mes

    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
